@import url(/src/assets/css/layout/start-project.css);


button {
    border: none;
    margin: 8px 0px;
    padding: 10px 5px;
    background-color: var(--Grey-700);
    color: var(--white);
    font-weight: var(--FW-700);
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: var(--Green);
    color: var(--Grey-800)
}

